<html>
<head>
	<title>Questions</title>
	<style>
        html{
            font-family: Arial;
            background-color: #c7f0e8;
        }
        
	    h1, input{ 
            margin-left: 2.5%; 
        }
	</style>
</head>
<body>
	<h1>{{ question[0] }}</h1>
        <ul>
        <form action="" method="POST">
	{% if question[1] == "multiple choice" %}
	{% for answer, _ in answers %}
	<button name="answer" type="submit" value="{{ answer }}">{{ answer }}</button>
	{% endfor %}
	{% else %}
		<input type="text" label="Type your answer here">
		<input type="submit" value="Submit">
	{% endif %}
		<br>
        </form>
        </ul>
    </body>
</html>
