{% extends "base.html" %}	
{% block title %}Questions{% endblock %}
{% block content %}
<h1 class="title">{{ question.text }}</h1>
<ul>
<form action="" method="POST">
{% if question.type == "multiple choice" %}
{% for answer in answers %}
<button name="answer" type="submit" id="q_{{ loop.index }}" value="{{ answer.text }}">{{ answer.text }}</button>
{% endfor %}
{% else %}
	<input type="text" label="Type your answer here">
	<input type="submit" value="Submit">
{% endif %}
</form>
</ul>
<script>
var colours = ["#264653", "#2a9d8f", "#e9c46a", "#f4a261", "#e76f51", "#e63946", "#a8dadc", "#fca311"];

function set_random_colour(id) 
{
	document.getElementById(id).style.backgroundColor = colours[Math.floor(Math.random() * colours.length)];

}
for (var i=1; i-1 != {{ num_answers }}; i++) {
	set_random_colour("q_" + i);
}
</script>
{% endblock %}
